.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand img {
    height: 100%;
}

#image-list div button {
    margin-top: 5px;
}

#image-list div {
    margin-top: 9px;
}

.image-item {
    border-style: ridge;
    margin: 2px;
    background-color: #f6f6f6;
}

.image-item img {
    margin-top: 2px;
    margin-bottom: 2px;
    max-height: 150px;
}