<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-stacked">
        <li role="presentation"><a href="#">General</a></li>
        <li role="presentation"><a href="#">Sports</a></li>
        <li role="presentation"><a href="#">Architecture</a></li>
        <li role="presentation"><a href="#">Nature</a></li>
        <li role="presentation"><a href="#">Wedding</a></li>
      </ul>
    </div>
    <div class="col-md-9" id="image-list">
      <div class="row">
        <div class="col-md-3 image-item text-center" *ngFor="let item of images;">
          <img src="data:image/png;base64,{{item.base64}}" class="img-thumbnail" />
          <span *ngFor="let tag of item.tags;" class="label label-default">{{tag}}</span>
        </div>
      </div>
    </div>
  </div>
</div>